################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/my_trt_pro
.vs/my_trt_pro/v16/.suo
.vs/my_trt_pro/v16/Browse.VC.db
.vs/my_trt_pro/v16/Browse.VC.db-shm
.vs/my_trt_pro/v16/Browse.VC.db-wal
.vs/my_trt_pro/v16/ipch/AutoPCH/99518780bc77eb11/TRT_BUILDER.ipch
.vs/my_trt_pro/v16/ipch/AutoPCH/abcca3d4e0b8379/MAIN.ipch
.vs/my_trt_pro/v16/ipch/AutoPCH/b4b2e40d9b7260b7/TRT_BUILDER.ipch
.vs/my_trt_pro/v16/ipch/AutoPCH/c4a10e80d5001ac8/TRT_BUILDER.ipch
.vs/my_trt_pro/v16/ipch/AutoPCH/ca2530921f1dc0d4/MAIN.ipch
